/* Audio Player Styles */
.audio-player {
  @apply grid grid-cols-3 px-[60px] pt-4 pb-5 w-full fixed bottom-0 backdrop-blur-[30px];
  background: rgba(37, 41, 46, 0.6);
}

.audio-player-mobile {
  @apply px-3 pt-3 pb-2 rounded-xl fixed bottom-4 mx-3 right-0 left-0 backdrop-blur-[30px] flex flex-col gap-3;
  background: rgba(37, 41, 46, 0.6);
  max-width: calc(100vw - 24px);
  box-sizing: border-box;
  overflow: hidden;
}

.audio-player-mobile-open {
  @apply fixed bottom-4 right-0 left-0 mx-3 z-20;
  max-width: calc(100vw - 24px);
  box-sizing: border-box;
  overflow: hidden;
}

.player-progressbar input[type="range"] {
  @apply hover:cursor-pointer;
  position: relative;
  width: 100%;
}

.player-progressbar input[type="range"]::before {
  @apply bg-brand-gold left-0 top-0 absolute h-full;
  content: "";
  width: var(--range-progress);
  z-index: -1;
}

.player-progressbar input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none bg-brand-gold w-3 h-3 rounded-full;
}

.player-progressbar input[type="range"]:active::-webkit-slider-thumb,
.player-progressbar input[type="range"]:hover::-webkit-slider-thumb {
  @apply scale-125;
}

.player-volume input[type="range"] {
  @apply w-20 h-1 bg-neutral-silver-400 rounded-lg appearance-none cursor-pointer;
}

.player-volume input[type="range"]::before {
  @apply bg-brand-gold left-0 top-0 absolute h-full;
  content: "";
  width: var(--range-progress);
  z-index: -1;
  border-radius: 0.5rem;
}

.player-volume input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none bg-brand-gold w-3 h-3 rounded-full;
}

.player-volume input[type="range"]:active::-webkit-slider-thumb,
.player-volume input[type="range"]:hover::-webkit-slider-thumb {
  @apply scale-125;
}

.text-player-time {
  @apply text-xs text-neutral-silver-300;
  font-variant-numeric: tabular-nums;
}

.player-controls path {
  @apply fill-neutral-silver-300;
}

.player-controls:hover path {
  @apply fill-brand-gold;
}

.player-controls-active path {
  @apply fill-brand-gold;
}